* {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-style: normal;
}

:root {
  --fontWeightLighter: 100;
  --fontWeightLight: 300;
  --fontWeightRegular: 400;
  --fontWeightMedium: 600;
  --fontWeightBold: 700;
  --fontSizeXXS: 10.4px;
  --fontSizeXS: 12px;
  --fontSizeSM: 14px;
  --fontSizeMD: 16px;
  --fontSizeLG: 18px;
  --fontSizeXL: 20px;
  --fontSize2XL: 24px;
  --fontSize3XL: 30px;
}
