.wrapper {
  position: relative;
  bottom: 0;
  padding: 10px 0px 10px 0px;
  width: 100%;
}
.wrapper .mainBox {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 1;
  background: transparent;
  color: var(--dark);
}

.wrapper .secondBox {
  opacity: 1;
  background: transparent;
  color: var(--dark);
  box-shadow: none;
  text-transform: none;
  vertical-align: unset;
  text-decoration: none;
}

.wrapper .typography {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 12px;
  padding-right: 12px;
  margin: 0px;
  font-size: 0.875rem;
  line-height: 1.5;
  letter-spacing: 0.02857em;
  opacity: 1;
  color: var(--secondary);
  font-weight: 400;
}

.wrapper .link {
  text-decoration: none;
}
