* {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

.container {
  width: 250px;
  height: 100%;
  margin: 15px 0px 15px 15px;
  color: white;
  box-shadow: 0rem 1.25rem 1.6875rem 0remrgba (0, 0, 0, 0.05);
  border: none;
  background: linear-gradient(195deg, #42424a, #191919);
  border-radius: 10px;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: -webkit-transform 200ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
  transition: transform 200ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
}

.container .DrawerClose {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0px 15px;
}

.container .color {
  color: white;
}

.container .ListItem {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.ListItem:focus {
  background: linear-gradient(195deg, #49a3f1, #1a73e8);
}

.container .ListItemText {
  margin-left: 15px;
  font-weight: 300;
  font-size: 0.875rem;
}

.container .ListLink {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
}

.container .UpgradeButton {
  text-decoration: none;
  padding: 5px 0px;
}
